.img, .wiki, .wife {
	float: right;
}
table {
	width: 282px;
	background-color: rgba(202,194,186,1);
}
.title {
	text-align: center;
}
.title::after{
	content: "";
}
.content {
	padding-bottom: 100px;
}
th {
	width: 100px;
	text-align: left;
	padding-left: 5px;
}
th::after {
	content: ":";
}
td {
	font-size: 15px;
}
.list {
	width: 300px;

	background-color: rgba(202,194,186,1);
    font-size: 95%;
    border: 1px solid rgb(170, 170, 170);
}
.list h3 {
	padding-left: 22px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.author {
	padding-left: 65px;
}
.row1 {
	padding-bottom: 32px;
}
.row2 {
	padding-bottom: 15px;
}
.row3 {
	padding-bottom: 18px;
}
.row4 {
	padding-bottom: 34px;
}
.row5 {
	padding-bottom: 96px;
}
.row6 {
	padding-bottom: 50px;
}
.tab {
	padding-left: 20px;
}
h1 {
	color: #206ba4;
	text-align: center;
}
h3 {
	color: #206ba4;
    text-decoration: underline;
}